<%- include("partials/header.ejs") %>
    <% if (locals.adjective && locals.noun)  { %>
      <h1><%= adjective %> <%= noun %></h1>
      <% } else { %>
        <h1>Welcome to the Band Generator</h1>
        <% } %>

<form action="/submit" method="POST">
  <input type="submit" value="Generate Name">
</form>

<!-- Update for new version of browser since the disable resubmission has been remove in modern browser -->
  <% if (adjective && noun) { %>
        <p><a href="/">â† Generate New Name</a></p>
    <% } %>
<%- include("partials/footer.ejs") %>